{% extends 'base.html' %}

{% block body %}
   <div id="logreg-forms">
        <!-- FORM LOG IN -->
        <form class="form-signin" method="POST">
            {% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
            <div class="social-login">
                <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign in with Facebook</span> </button>
                <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign in with Google+</span> </button>
            </div>
            <p style="text-align:center"> OR  </p>
{#            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">#}
{#            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">#}
            {{ form.username }}
           <p></p>
            {{ form.password }}
            <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Sign in</button>
            <a href="{% url 'reset_password' %}" id="forgot_pswd">Quên mật khẩu ?</a>
            <!-- <p>Don't have an account!</p>  -->
            <a href="{% url 'register' %}">Đăng ký một tài khoản</a>
        </form>
        <!-- FORM RESET PASSWORD -->



            <br>

    </div>
{% endblock body %}
